@use "@/index.module.scss" as *;

.titleContainer {
    @extend .panel;

    overflow: hidden;
}

.changeLanguageButton {
    @extend .flat;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: $padding * 0.25;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
